{% load static %}

<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/foundation.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
  </head>
  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">Travel Website</li>
          <li><a href="/">Home</a></li>
          <li><a href="/trips/">Available Trips</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          {% if user.is_authenticated %}
          <li><a href="/profile/">Your Profile</a></li>
          <li><a href="/logout_view/" class="button expanded">Log Out</a></li>
          {% else %}
          <li><a href="/accounts/login" class="button expanded">Log In or Register</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% block body %}
    {% endblock %}
    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/vendor/what-input.js" %}"></script>
    <script src="{% static "js/vendor/foundation.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
  </body>
</html>
