{% extends "base.html" %}

{% block body %}
<div class="top-bar" style="background-color:#d7ecfa">
  <div class="top-bar-left">
    <ul class="dropdown menu" style="background-color:#d7ecfa" data-dropdown-menu>
      <li class="menu-text" style="background-color:#d7ecfa">Home</li>
    </ul>
  </div>
</div>
<div class="top-bar" style="background-color:#FFFFFF">
</div>
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-12">
      <h1> Welcome{% if user.is_authenticated %}, {{ user.get_username }}{% endif %}</h1>
    </div>
  </div>
</div>
{% endblock %}
