{% extends "base.html" %}

{% block body %}
<div class="top-bar" style="background-color:#d7ecfa">
  <div class="top-bar-left">
    <ul class="dropdown menu" style="background-color:#d7ecfa" data-dropdown-menu>
      <li class="menu-text" style="background-color:#d7ecfa">Home</li>
    </ul>
  </div>
</div>
<div class="top-bar" style="background-color:#FFFFFF"></div>
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-6 medium-12 small-12">
      <h1> Welcome{% if user.is_authenticated %}, {{ user.first_name }}{% endif %}</h1>
      <div class="callout primary large">
        <h3> Travel Site is here to make traveling easier for travelers and travel agents alike. Create an account
        to get started or head over to the "Available Trips" tab to check out what sort of trips we have to offer</h3>
      </div>
    </div>
    <div></div>
    <div class="large-6 medium-12 small-12">
      <div class="callout primary large">
        <div><h3>Featured Trip</h3>
        <div class="cell">
          <div class="card">
            <div class="card-divider">{{ trip.name }}</div>
            <img src="{{ trip.image.url }}" alt="{{ trip.image_description }}" class="img-responsive img-rounded">
            <div class="card-section">
              <p>{{ trip_.start_date }} - {{ trip.end_date }}</p>
              <h6>Posted by: {{ trip.author.first_name }}</h6>
              <h6>Members going: {{ trip.num_people }}</h6>
              <div><a id="{{ trip.id }}" href="/trips" method="put" class="button">More Info</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
