{% extends "base.html" %}

{% block body %}
<div class="top-bar" style="background-color:#d7ecfa">
  <div class="top-bar-left">
    <ul class="dropdown menu" style="background-color:#d7ecfa" data-dropdown-menu>
      <li class="menu-text" style="background-color:#d7ecfa">Home</li>
    </ul>
  </div>
</div>
<div class="top-bar" style="background-color:#FFFFFF"></div>
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-6 medium-12 small-12">
      <div class="callout">
        <h2 class="text-center"> Travel Site is here to make traveling easier for travelers and travel agents alike</h1>
        <p> The goal of this site for travel agents is to act as a hub for them to post trips and store
          relevant user information. As of right now the site includes a profile page which has your personal
          information and a trips page that has the current available trips.</p>
        <p>In the future I hope for this site to have full capabilities to handle payments from the users to the agents.
        Another future service I want to add to this site is the ability for the travel agent to coordinate
      flights of all of the trip members to get them to the destination on the same day at the same time. I would
    like to use the google flights API to at least get the flight price quotes of each individual member of the group.</p>
        <p> Create an account to join a trip or get in contact with staff to be registered as a travel agent so you can start
          posting trips. If you just want to browse the site you're always welcome to head over to the "Available Trips" tab
          to check out what sort of trips we have to offer </p>
    </div>
  </div>
    <div class="large-6 medium-12 small-12">
      <div class="callout"><h3>Featured Trip</h3></div>
        <div class="cell">
          <div class="card">
            <div class="card-divider">{{ trip.name }}</div>
            <img src="{{ trip.image.url }}" alt="{{ trip.image_description }}" class="img-responsive img-rounded">
            <div class="card-section">
              <p>{{ trip_.start_date }} - {{ trip.end_date }}</p>
              <h6>Posted by: {{ trip.author.first_name }}</h6>
              <h6>Members going: {{ trip.num_people }}</h6>
              <a id="{{ trip.id }}" href="/trip_info{{ trip.id }}" method="GET" class="button">More Info</a>
            </div>
          </div>
        </div>
  </div>
</div>
{% endblock %}
