{% extends "base.html" %}

{% block body %}
<div class="top-bar" style="background-color:#d7ecfa">
  <div class="top-bar-left">
    <ul class="dropdown menu" style="background-color:#d7ecfa" data-dropdown-menu>
      <li class="menu-text" style="background-color:#d7ecfa">Profile</li>
    </ul>
  </div>
</div>
<div class="top-bar" style="background-color:#FFFFFF">
</div>
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-6 medium-8 small-10 large-offset-3 medium-offset-2 small-offset-1">
      <div>
      <h1 class="text-center">Welcome{% if user.is_authenticated %} {{ user.first_name }}{% endif %}</h1>
      </div>
      <div class="callout primary large">
        <div class="text-center"><h5>Personal Information</h5></div>
        <div class="callout">
          <div class="cell"><p>{{ user.first_name }} {{ user.last_name }}</p></div>
          <div class="cell"><p>{{ profile.city }}</p></div>
          <div class="cell"><p>{{ profile.state }}</p></div>
          <div class="cell"><p>{{ profile.country }}</p></div>
          <div class="cell"><p>{{ user.email }}</p></div>
        </div>
        <div class="text-center"><h5>Trip Information</h5></div>
        <div class="callout">
          <div class="cell"><p>{{ profile.trips_total }} trips total</p></div>
          <div class="cell"><p>Upcoming Trips: </p></div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
