{% extends "base.html" %}

{% block body %}
<div class="top-bar" style="background-color:#d7ecfa">
  <div class="top-bar-left">
    <ul class="dropdown menu" style="background-color:#d7ecfa" data-dropdown-menu>
      <li class="menu-text" style="background-color:#d7ecfa">Available Trips</li>
    </ul>
  </div>
  <div class="top-bar-right">
    {% if user.is_authenticated %}
      <div><a href="/new_trip/" method="post" class="button expanded">Create a new trip</a></div>
    {% endif %}
  </div>
</div>
<div class="top-bar" style="background-color:#FFFFFF">
</div>
<div class="grid-container">
    <div class="grid-x grid-padding-x medium-up-3 small-up-2">
          {% for trip in trip_list %}
          <div class="cell">
            <div class="card">
              <div class="card-divider">{{ trip.name }}</div>
              <div class="card-section">
                <p>{{ trip.start_date }} - {{ trip.end_date }}</p>
                <h4>{{ trip.description }}</h4>
              </div>
            </div>
          </div>
          {% endfor %}
    </div>
</div>
{% endblock %}
