{% extends "base.html" %}

{% block body %}

<div class="grid-container">
    <div class="large-4 medium-6 small-12">
      <div class="callout primary">
        <h2 class="text-center">Available Trips</h2>
      </div>
      {% if user.is_authenticated %}
      <div class="callout secondary">
        <a href="/new_trip/" method="post" class="button expanded">Create a new trip</a>
      </div>
      {% endif %}
    </div>
    <div class="grid-x grid-padding-x medium-up-3 small-up-2">
          {% for trip in trip_list %}
          <div class="cell">
            <div class="card">
              <div class="card-divider">{{ trip.name }}</div>
              <div class="card-section">
                <p>{{ trip.start_date }} - {{ trip.end_date }}</p>
                <h4>{{ trip.description }}</h4>
              </div>
            </div>
          </div>
          {% endfor %}
    </div>
</div>
{% endblock %}
