{% extends "base.html" %}

{% block body %}
<div class="top-bar" style="background-color:#d7ecfa">
  <div class="top-bar-left">
    <ul class="dropdown menu" style="background-color:#d7ecfa" data-dropdown-menu>
      <li class="menu-text" style="background-color:#d7ecfa">Available Trips</li>
    </ul>
  </div>
  <div class="top-bar-right">
    {% if perms.myapp.add_trip_model %}
      <div><a href="/new_trip/" method="post" class="button expanded">Create a new trip</a></div>
    {% endif %}
  </div>
</div>
<div class="top-bar" style="background-color:#FFFFFF">
</div>
<div class="grid-container">
    <div class="grid-x grid-padding-x large-up-3 medium-up-2 small-up-1">
          {% for trip in trip_list %}
          <div class="cell">
            <div class="card">
              <div class="card-divider">{{ trip.name }}</div>
              <img src="{{ trip.image.url }}" alt="{{ trip.image_description }}" class="img-responsive img-rounded">
              <div class="card-section">
                <p>{{ trip.start_date }} - {{ trip.end_date }}</p>
                <h6>Posted by: {{ trip.author.first_name }}</h6>
                <div><a href="/" method="get" class="button">Join Trip</a></div>
              </div>
            </div>
          </div>
          {% endfor %}
    </div>
</div>
{% endblock %}
